Sysmex.Crm.Model/Model.xsd

<?xml version="1.0" encoding="UTF-8"?> 

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">



          <!-- XML Schema Generated from XML Document on Wed Jun 26 2019 14:46:59 GMT-0500 (Central Daylight Time) -->


          <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->

       <xs:element name="entities">


              <xs:complexType>


                     <xs:sequence>


                            <xs:element name="entity">


                                   <xs:complexType>


                                          <xs:sequence>


                                                 <xs:element name="fields">


                                                        <xs:complexType>


                                                               <xs:sequence>


                                                                      <xs:element name="field" maxOccurs="unbounded">


                                                                             <xs:complexType>


                                                                                    <xs:attribute type="xs:string" name="type">
</xs:attribute>

                                                                                    <xs:attribute type="xs:string" name="name">
</xs:attribute>

                                                                                    <xs:attribute type="xs:string" name="displayname">
</xs:attribute>

                                                                                    <xs:attribute type="xs:string" name="customfield">
</xs:attribute>

                                                                                </xs:complexType>

                                                                         </xs:element>

                                                                  </xs:sequence>

                                                           </xs:complexType>

                                                    </xs:element>

                                                 <xs:element name="relationships">
</xs:element>

                                             </xs:sequence>

                                          <xs:attribute type="xs:string" name="name">
</xs:attribute>

                                          <xs:attribute type="xs:string" name="disableplugins">
</xs:attribute>

                                          <xs:attribute type="xs:string" name="primarynamefield">
</xs:attribute>

                                          <xs:attribute type="xs:string" name="primaryidfield">
</xs:attribute>

                                          <xs:attribute type="xs:int" name="etc">
</xs:attribute>

                                          <xs:attribute type="xs:string" name="displayname">
</xs:attribute>

                                      </xs:complexType>

                               </xs:element>

                        </xs:sequence>

                 </xs:complexType>

          </xs:element>

   </xs:schema>
  
 
  
  







